/* Général */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .menu-toggle {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
}

.navbar .nav-links li {
    margin: 0 10px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar .nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Responsive Navbar */
@media screen and (max-width: 768px) {
    .navbar .menu-toggle {
        display: block;
    }

    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color:#000000;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
    }

    .navbar .nav-links.active {
        display: flex;
    }

    .navbar .nav-links li {
        margin: 10px 0;
    }
}

/* Carousel */
.carousel-container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.carousel-nav {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    pointer-events: all;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0 0;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}
